/**
 *  general
 */
 
 body {
  margin: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  background-color: #000c25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background: #1a253b;
  padding: 20px;
}

header h1 {
  margin: 0;
  padding-left: 40px;
  background-image: url(/favicon-32x32.png);
  background-repeat: no-repeat;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header p {
  margin: 0;
  font-size: smaller;
  color: #00abe7;
  padding-left: 47px;
}

button {
  color: white;
  padding: 8px 32px;
  background-color: #2196f3;
  border: none;
}

button:hover {
  color: #000c25;
  cursor: pointer;
}

button[type='reset'] {
  color: white;
  padding: .5em 2em;
  border: 1px solid #1a253b;
  background-color: #000c25;
}

button[type='reset']:hover {
  background-color: #1a253b;
  cursor: pointer;
}

nav {
  position: absolute;
  top: 20px;
  right: 60px;
}

nav a {
  color: #00abe7;
  text-decoration: none;
  margin-left: 20px;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  border-top: 1px solid #1a253b;
  text-align: center;
  font-size: small;
  padding-bottom: 40px;
}

footer a {
  color: #00abe7;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 650px) {
  nav {
    position: absolute;
    top: 80px;
    left: 60px;
    right: unset;
  }

  nav a {
    margin-left: unset;
  }

  nav a:not(:last-child):after {
    content: " | ";
    color: white;
  }
}

/**
 * tooltips
 */

.info .icon {
  background-image: url('/img/info-icon.png');
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  background-size: 16px 16px;
  filter: brightness(3);
}

.info .note {
  display: none;
  position: absolute;
  width: 400px;
  padding: 8px;
  margin-left: 8px;
  background: #000c25;
  border: 1px solid gray;
}

.info:hover .note {
  display: inline;
}

/**
 * spinner
 */

@keyframes spinner-kf {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner,
.spinner:before {
  display: inline-block;
  width: .75em;
  height: .75em;
  transform-origin: 50%;
  border: 2px solid transparent;
  border-color: #74a8d0 #74a8d0 transparent transparent;
  border-radius: 50%;
  content: "";
  animation: linear spinner-kf 900ms infinite;
  position: relative;
  vertical-align: inherit;
  line-height: inherit;
}

.spinner:before {
  border-color: #74a8d0 #74a8d0 transparent transparent;
  position: absolute;
  left: -2px;
  top: -2px;
  border-style: solid;
}

/**
 *  homepage
 */

section#prompt {
  background: #1a253b;
  padding-top: 20px;
  padding-left: 60px;
  padding-bottom: 60px;
  padding-right: 60px;
}

section#prompt h1 {
  font-size: xx-large;
}

section#prompt p.example {
  border: 1px solid #00abe7;
  background-color: #000c25;
  padding: 20px;
}

section#prompt p.example .value {
  color: #ff21d0;
}

@keyframes example-switch {
  0% {
    background-color: #000c25;
  }
  94% {
    background-color: #000c25;
  }
  95% {
    background-color: #00abe7;
  }
  100% {
    background-color: #000c25;
  }
}

section#prompt p.example {
  animation: example-switch 21s ease-in infinite;
}

section#builder {
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 100px;
}

section#builder form input {
  color: white;
  border: 1px solid #ff21d0;
  background-color: #1a253b;
}

section#builder form select {
  color: white;
  border: 1px solid #ff21d0;
  background-color: #1a253b;
}

section#builder form input[type="text"] {
  padding: 8px 16px;
  width: 300px;
}

section#builder form select {
  padding: 8px 16px;
}

section#builder form input[type="number"] {
  padding: 8px 0px 8px 16px;
  width: 55px;
}

section#builder form input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
  height: 30px;
}

section#builder form p label {
  display: inline-block;
  text-align: right;
  margin-right: 1em;
  width: 60px;
}

section#builder form p label:first-child {
  width: 125px;
}

section#builder form p:last-child {
  padding-left: 145px;
}

/**
 * manage
 */

section#contract {
  border: 1px solid #00abe7;
  background-color: #000c25;
  padding: 20px;
  margin-top: 36px;
  margin-left: 60px;
  margin-bottom: 36px;
  margin-right: 60px;
}

section#contract h1 {
  margin: 0;
}

section#contract .address a {
  color: #00abe7;
  text-decoration: none;
  font-family: monospace;
  font-size: x-large;
}

section#contract .address a:hover {
  text-decoration: underline;
}

section#contract .summary .address {
  display: inline-block;
  padding: 8px 16px;
  background-color: #1a253b;
}

section#contract .summary a {
  font-size: x-large;
}

section#contract .info {
  display: inline-block;
  position: relative;
}

section#contract .info:hover .note {
  display: block;
  right: 0;
  top: 24px;
}

section#contract .value {
  color: #ff21d0;
}

section#contract .label::after {
  content: ":";
}

section#contract .share::before {
  content: " → ";
  color: white;
}

section#outputs {
  background-color: #000c25;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
}

section#outputs table {
  border-collapse: collapse;
  width: 100%;
}

section#outputs table tr {
  height: 40px;
}

section#outputs table tbody tr:hover {
  background-color: #1a253b;
}

section#outputs table tbody tr:hover td[colspan="4"] {
  background-color: #000c25;
}

section#outputs table th {
  text-align: center;
  vertical-align: middle;
  padding: 8px 16px;
  border-bottom: 1px solid white;
  width: 0;
  text-wrap: nowrap;
}

section#outputs table th:nth-child(3) {
  text-align: right;
}

section#outputs table th:nth-child(4) {
  width: auto;
  text-align: left;
}

section#outputs table td {
  text-align: center;
  vertical-align: middle;
  padding: 4px 8px;
  text-wrap: nowrap;
}

section#outputs table td[colspan] {
  text-align: left;
  text-wrap: wrap;
}

section#outputs table td:nth-child(3) {
  text-align: right;
}

section#outputs table td:nth-child(4) {
  text-align: left;
  position: relative;
  text-wrap: wrap;
}

section#outputs table td:nth-child(4) .spinner {
  position: absolute;
  margin: 8px 4px;
}

section#outputs table td:nth-child(4) .note {
  width: calc(100% - 26px);
  max-width: 400px;
  z-index: 1;
  left: 0px;
  top: 42px;
}

section#outputs table a {
  color: #00abe7;
  text-decoration: none;
  font-family: monospace;
  font-size: larger;
}

section#outputs table a:hover {
  text-decoration: underline;
}

section#outputs table td.block span {
  color: gray;
}

section#outputs table td.value.xec data {
  color: #ff21d0;
}

section#outputs table td button:disabled {
  border: 1px solid #000c25;
  padding: 7px 31px;
  color: gray;
  background-color: #1a253b;
  cursor: default;
}

@media screen and (max-width: 800px) {
  section#builder form p label {
    text-align: left;
    position: absolute;
  }

  section#builder form input {
    margin-top: 24px;
  }

  section#builder form input[type="text"] {
    width: calc(100% - 138px);
    text-overflow: ellipsis;
  }
  
  section#builder form select {
    margin-top: 24px;
  }

  section#builder form p:last-child {
    padding-left: 0;
  }
  
  .info .note {
    width: calc(100% - 240px);
  }

  section#contract .summary .address {
    display: inline-flex;
    width: calc(100% - 52px);
  }

  section#contract .summary a {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  section#contract p.summary .note {
    width: 174px;
  }

  section#contract .party .label {
    display: inline-flex;
    width: fit-content;
  }
 
  section#contract .party .address {
    display: inline-flex;
    width: calc(100% - 260px);
    max-width: fit-content;
    min-width: 150px;
  }

  section#contract .party .address a {
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

@media screen and (max-width: 650px) {
  section#outputs table th:nth-child(1) {
    display: none;
  }

  section#outputs table td:nth-child(1):not([colspan])  {
    display: none;
  }
}

@media screen and (max-width: 555px) {
  section#outputs table th:nth-child(2) {
    display: none;
  }

  section#outputs table td:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  section#outputs table td[colspan] {
    font-size: small;
  }
  
  section#outputs table td:nth-child(3) {
    font-size: small;
  }

  section#outputs table td:nth-child(4) button {
    padding: 8px 22px;
  }
}

/**
 * faq
 */

section#faq {
  background-color: #000c25;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
  padding-top: 20px;
}

section#faq h1 {
  color: #00abe7;
  position: relative;
  margin-bottom: 4px;
}

section#faq p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px 20px 0px 20px;
  border-left: 1px solid gray;
  line-height: 1.5em;
}

section#faq p:last-child {
  margin-bottom: 60px;
  padding-bottom: 20px;
}

section#faq :target h1 {
  color: #ff21d0;
}

section#faq h1 a {
  text-decoration: none;
  color: gray;
  font-size: smaller;
  visibility: hidden;
}

section#faq h1:hover a {
  visibility: visible;
}

section#faq h1 a:hover {
  color: white;
}

/**
 * about
 */

 section#about {
  background-color: #000c25;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
  padding-top: 20px;
}

section#contribute {
  background-color: #000c25;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
}

section#contribute p {
  position: relative;
  padding-left: 40px;
}

section#contribute  a {
  color: #00abe7;
  text-decoration: none;
}

section#contribute a:hover {
  text-decoration: underline;
}

section#contribute a.github.logo {
  position: absolute;
  left: 0px;
}

section#contribute a.github img {
  width: 32px;
}